.footer{
  color: #c3c3c3;
  background-color: #231f20;
  padding: 80px 0;
  font-size: 14px;
}

.footer img{
  width: 200px;
  margin-bottom: 30px;
}

.footer ul{
  list-style: none;
  padding: 0
}

.footer ul li:first-child{
  color: #ffffff;
  margin-bottom: 20px;
}

.footer ul li a{
  color: #c3c3c3;
  text-decoration: none;
}
.footer ul li a:hover{
  color: #65bb48;
}

/* Redes */
.footer .social{
  color: #828282;
  margin-top: 30px;
}

.footer ul.social{
  list-style: none;
  margin: 0;
}

.footer ul.social li{
  display: inline;
}

a.social-fb{
  background-size: 58px !important;
}

a.social-tw{
  background-size: 58px !important;
}

a.social-ins{
  background-size: 58px !important;
}

.social-fb{
  width: 29px;
  height: 29px;
  padding: 0 !important;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background: url('../images/redes.png') 0 0;
  background-size: 58px;
  overflow: hidden;
}


a.social-fb:hover{
  background: url('../images/redes.png') -29px 0px;
}

.social-tw{
  width: 29px;
  height: 29px;
  padding: 0 !important;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background: url('../images/redes.png') 0 -29px;
  background-size: 58px;
  overflow: hidden;
}

a.social-tw:hover{
  background: url('../images/redes.png') -29px -29px;
}

.social-ins{
  width: 29px;
  height: 29px;
  padding: 0 !important;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background: url('../images/redes.png') 0 -58px;
  background-size: 58px;
  overflow: hidden;
}

a.social-ins:hover{
  background: url('../images/redes.png') -87px -58px;
}

.legales{
  margin-top: 20px;
}

@media screen and (max-width: 992px){
  .footer ul li:first-child{
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 20px;
  }
}