@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
}

p{
  font-family: 'Roboto', sans-serif;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a{
  color: #ffffff;
  font-weight: 800;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #ffffff;
  opacity: 0.7;
}

.navbar-default{
  background-color: transparent;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  border: none;
}

.navbar-brand{
  padding: 0;
}

.navbar-brand img{
  width: 200px;
}

/*/// HOME ///*/
.alert-default{
  background: rgb(89,178,63);
  background: -moz-linear-gradient(left, rgb(89,178,63) 0%, rgb(64,161,45) 100%);
  background: -webkit-linear-gradient(left, rgb(89,178,63) 0%,rgb(64,161,45) 100%);
  background: linear-gradient(to right, rgb(89,178,63) 0%,rgb(64,161,45) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b23f', endColorstr='#40a12d',GradientType=1 );
  color: #ffffff;
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.alert-default a{
  color: #ffffff;
  font-weight: 800;
}

.alert-default a:hover{
  opacity: 0.7}

.alert-default .close{
  top:14px;
}

.main-gray{
  background-color: #efefef;
}

figure{
  position: relative;
}

figure img{
  width: 100%;
  display: block;
}

figure figcaption{
  position: absolute;
  top: 30%;
}